@import 'tailwindcss';
@import '@skeletonlabs/skeleton';
@import '@skeletonlabs/skeleton-svelte';
@import '@skeletonlabs/skeleton/themes/cerberus';

@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@source '../../node_modules/@skeletonlabs/skeleton-svelte/dist';

html {
	color-scheme: dark;
	background: var(--color-surface-950);
	color: var(--color-surface-50);
}

body {
	margin: 0;
	min-width: 320px;
	min-height: 100vh;
	background: var(--color-surface-950);
}
